<div class="container">
  <h1 class="m-5 text-center">My favorite gardens</h1>
  <div class="row">
    <div class="col-4 mb-3">
        <%= link_to new_garden_path do %>
          <div class="card-new-trip">
            <h2>+ Add a garden</h2>
          </div>
        <% end %>
    </div>

    <% @gardens.each do |garden| %>
      <div class="col-4 mb-3">
        <%= link_to garden_path(garden) do %>
          <div class="card-trip">
            <img src="<%= garden.banner_url %>" />
            <div class="card-trip-infos">
              <div>
                <h2><%= garden.name %></h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
