<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="my-5">New Garden</h1>

      <%= render 'form', garden: @garden %>

      <%= link_to 'Back', gardens_path %>
    </div>
  </div>
</div>